* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  color: #19282f;
  font-family: "Merriweather", serif;
  background-image: linear-gradient(#667db6, #0082c8);
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.left {
  flex: 8;
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.clock {
  flex: 4;
}

.forMin {
  display: flex;
  flex-direction: column;
}

.forSec {
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  display: flex;
  text-align: center;
  justify-content: center;
}

#min {
  width: 75px;
  height: 75px;
  font-size: 50px;
  text-align: center;
  border-radius: 10px;
  border: none;
  color: #19282f;
  font-family: "Merriweather", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus {
  outline: none;
  border: none;
}

#sec {
  width: 75px;
  height: 75px;
  font-size: 50px;
  text-align: center;
  border-radius: 10px;
  border: none;
  color: #19282f;
  font-family: "Merriweather", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colon {
  margin: 10px;
  font-size: 50px;
  position: relative;
  top: 70px;
  z-index: -999;
}

.buttons {
  margin: 25px auto;
}

.but {
  width: 60px;
  cursor: pointer;
  margin-right: 30px;
}

.stop {
  width: 60px;
  cursor: pointer;
  margin-left: 30px;
}

.reset {
  width: 60px;
  cursor: pointer;
}

.disable {
  opacity: 0.2;
}

#first {
  width: 75px;
  height: 75px;
  font-size: 50px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

#second {
  width: 75px;
  height: 75px;
  font-size: 50px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

.colonRight {
  margin: 10px;
  font-size: 50px;
  position: relative;
  top: 35px;
}

.name {
  display: flex;
  flex-direction: row;
  margin: 5px auto;
}

.set {
  margin-right: 80px;
}

.counter {
  margin-left: 105px;
}

h3 {
  font-size: 1.5rem;
}
